{% extends "layout.html" %}
{% block content %}

<div class="ui input">
    <input type="text" placeholder="P/E Ratio">
</div>
<div class="ui input">
    <input type="text" placeholder="Dividend Yield">
</div>
<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 50 day MA</label>
</div>
<div class="ui checkbox">
    <input type="checkbox" name="example">
    <label>Above 200 day MA</label>
</div>
<button class="ui button primary">
    Filter
</button>

<table class="ui celled table">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>P/E</th>
        <th>Divident yield</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td data-label="Name">James</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Engineer</td>
    </tr>
    <tr>
        <td data-label="Name">Jill</td>
        <td data-label="Age">26</td>
        <td data-label="Job">Engineer</td>
    </tr>
    <tr>
        <td data-label="Name">Elyse</td>
        <td data-label="Age">24</td>
        <td data-label="Job">Designer</td>
    </tr>
    </tbody>
</table>
{% endblock %}


