{% extends "layout.html" %}
{% block content %}
<script>
$(document).ready(function(){
    $('#add_stock').click(function(){
        $('.ui.modal').modal('show');
    });
    $('#save').click(function(){
        var symbols = $('#symbols').val();
        var stockSymbols = symbols.split("\n");
        for (var i=0; i<stockSymbols.length; i++){
            console.log(stockSymbols[i]);
            $.ajax({
                url: '/stock',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ "symbol": stockSymbols[i] }),
                dataType: 'json'
            });
        }
            $('.ui.modal').modal('hide')
    });
});

stocks

$('.context1 .menu .item').tab();

$('.ui .item').on('click', function() {
   $('.ui .item').removeClass('active');
   $(this).addClass('active');
});

</script>

<form>
    <div class="ui input">
        <input name="forward_pe" type="text" placeholder="P/E Ratio" value="{{ forward_pe or '' }}">
    </div>
    <div class="ui input">
        <input name="dividend_yield" type="text" placeholder="Dividend Yield" value="{{ divident_yield or '' }}">
    </div>
    <div class="ui checkbox">
        <input type="checkbox" name="ma50" {% if ma50 %}checked="checked" {% endif %}>
        <label>Above 50 day MA</label>
    </div>
    <div class="ui checkbox">
        <input type="checkbox" name="ma200" value="{{ ma200 }}">
        <label>Above 200 day MA</label>
    </div>

    <button type="submit" class="ui button primary">
        Filter
    </button>
</form>
<div>
    <button id="add_stock" class="ui button"> add stocks</button>
</div>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>Forward P/E</th>
        <th>Forward EPS</th>
        <th>Dividend Yield</th>
        <th>50 Day MA</th>
        <th>200 Day MA</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.forward_pe }}</td>
        <td>{{ stock.forward_eps }}</td>
        <td>{{ stock.dividend_yield }}</td>
        <td>{{ stock.ma50 }}</td>
        <td>{{ stock.ma200 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add stock symbol
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Enter stock symbol</label>
                <textarea id="symbols"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">

        <div id="save" class="ui positive right labeled icon button">
            Add symbol
            <i class="plus icon"></i>
        </div>
    </div>
</div>
<div class="content">
</div>

  <div class="ui labeled icon vertical menu">
    <a class="item"><i class="twitter icon"></i> Tweet</a>
    <a class="item"><i class="facebook icon"></i> Share</a>
    <a class="item"><i class="mail icon"></i> E-mail</a>
  </div>

{% endblock %}

